<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!--    Fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Hello, world!</title>
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../javascript/user/home.js"></script>
</head>
<body>
<div class="container-fluid d-flex">
    <div class="container-fluid" style="background: black; width: 6%; height: auto"></div>
    <div class="container-fluid d-flex justify-content-between align-items-center"
         style="width: 94%; height: 62px">
        <div class="d-flex" style="margin-left: 35px">
            <div id="avatar-img"
                 style="border-radius: 50%; height: 40px; width: 40px; margin-top: 5px; margin-right: 5px">
            </div>
            <div id="info">
                <span id="name-user"></span>
                <span id="balace-wallet" style="font-weight: bold"></span>
            </div>
        </div>
        <div id="tool" class="d-flex justify-content-between" style="margin-right: 20px; width: 400px">
            <button style="background: none; border: none; height: 48px; width: 20px"><i class="far fa-calendar"></i>
            </button>
            <button style="background: none; border: none; height: 48px; width: 20px"><i class="fas fa-eye"></i>
            </button>
            <button style="background: none; border: none; height: 48px; width: 20px"><i class="fas fa-search"></i>
            </button>
            <button style="border-radius: 5px; background: #43a66a; color: white; height: 40px; border: none; padding: 10px"
                    type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">ADD
                TRANSACTION
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Transaction</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row d-flex" style="margin-left: 5px">
                                <!--                                NAME WALLET-->
                                <div style="width: 240px; height: 64px; border-radius: 10px; border:1px solid #ced4da">
                                    <span style="font-size: 12px;padding-bottom: 3px;color: rgba(0,0,0,.54);">Wallet</span>
                                    <div class="d-flex align-items-center">
                                        <div id="wallet-img"
                                             style="border-radius: 50%; height: 25px; width: 25px; margin-top: 5px; margin-right: 5px">
                                        </div>
                                        <div id="wallet-name" style="margin-top: 6px"></div>
                                    </div>
                                </div>
                                <!--                                TYPE-->
                                <div class="d-flex align-items-center"
                                     style="margin-left: 30px; border: none; background: white; width: 240px; height: 64px; border-radius: 10px; border:1px solid #ced4da">
                                    <span style="font-size: 12px;padding-bottom: 3px;color: rgba(0,0,0,.54); position: relative; top: -17px;">Category</span>
                                    <div id="typeSelected">
                                        <div class="NestedSelect">
                                            <a onclick="toggleDiv(this)">Select Category</a>
                                            <div id="categoryList">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--                                AMOUNT-->
                                <div style="width: 240px; height: 64px; border-radius: 10px; border:1px solid #ced4da; margin-left: 30px">
                                    <span style="font-size: 12px;padding-bottom: 3px;color: rgba(0,0,0,.54);">Amount</span>
                                    <div class="d-flex align-items-center">
                                        <input type="text" id="amount" value="0" style="border: none; outline: none">
                                    </div>
                                </div>
                            </div>

                            <div class="row d-flex" style="margin-left: 5px">
                                <!--                                DATE-->
                                <div style="width: 240px; height: 64px; border-radius: 10px; border:1px solid #ced4da">
                                    <span style="font-size: 12px;padding-bottom: 3px;color: rgba(0,0,0,.54);">Date</span>
                                    <div class="d-flex align-items-center">
                                        <input type="date" id="date" style="border: none; outline: none">
                                    </div>
                                </div>
                                <!--                                NAME-->
                                <div style="width: 240px; height: 64px; border-radius: 10px; border:1px solid #ced4da; margin-left: 30px">
                                    <span style="font-size: 12px;padding-bottom: 3px;color: rgba(0,0,0,.54);">Name</span>
                                    <div class="d-flex align-items-center">
                                        <input type="text" id="name" placeholder="Enter name transaction ..."
                                               style="border: none; outline: none">
                                    </div>
                                </div>
                                <!--                                FILE-->
                                <div style="width: 240px; height: 64px; border-radius: 10px; border:1px solid #ced4da; margin-left: 30px">
                                    <span style="font-size: 12px;padding-bottom: 3px;color: rgba(0,0,0,.54);">File</span>
                                    <div class="d-flex align-items-center">
                                        <input type="file" id="file" style="border: none; outline: none">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                                <button type="button" class="btn btn-primary" onclick="addNewTransaction()">CREATE
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button style="border-radius: 5px; background: #43a66a; color: white; height: 40px; border: none; padding: 10px"
                    type="button" class="btn btn-primary" onclick="logout()">LOGOUT
            </button>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>