<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Transaction List</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<button onclick="addNewTransaction()">ADD</button>
<form id="showAddTransaction"></form>
<form id="Sho"></form>

<table border="5">
    <thead>
    <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Category</th>
        <th>Wallet</th>
        <th>File</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="transaction">
    </tbody>
</table>
<script src="../../javascript/transaction/transaction.js"></script>
</body>
</html>